@model IEnumerable<CRUD.NET.Models.Products>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProductList</h1>

<p>
    <a asp-action="Index" class="btn btn-primary">Create New</a>
</p>
<table  class="table table-striped table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
